{{define "thread"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noarchive">
    <meta name="description" content="Fuck americans, even arabs are superior compared to the dim witted waste of energy, gun porn loving,... - &quot;/{{.Board}}/ - Random&quot; is the birthplace of Anonymous, and where people go to discuss random topics and create memes on 4chan.">
    <meta name="keywords" content="imageboard,worksafe,anonymous,random,memes,Fuck,americans,even,arabs,superior,compared,witted,waste,energy,porn,loving">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="//s.4cdn.org/image/favicon.ico">
    <link rel="stylesheet" title="switch" href="//s.4cdn.org/css/yotsubanew.629.css">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/yotsubanew.629.css" title="Yotsuba New">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/yotsubluenew.629.css" title="Yotsuba B New">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/futabanew.629.css" title="Futaba New">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/burichannew.629.css" title="Burichan New">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/photon.629.css" title="Photon">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/tomorrow.629.css" title="Tomorrow">
    <link rel="stylesheet" href="//s.4cdn.org/css/yotsubamobile.629.css">
    <link rel="canonical" href="http://boards.4chan.org/{{.Board}}/thread/649286684/fuck-americans-even-arabs-are-superior-compared">
    <title>/{{.Board}}/ - Fuck americans, even arabs are superior compared t - Random - {{.Chan}}chan</title>
    <script type="text/javascript">var  style_group = "nws_style",  cssVersion = 629,  jsVersion = 1012,  comlen = 2000,  maxFilesize = 4194304,  maxLines = 50,  file_too_big = "Error: Maximum file size allowed is 4096 KB.",  clickable_ids = 1,  cooldowns = {"thread":60,"reply":15,"image":15,"reply_intra":15,"image_intra":15};var unique_ips = 2;var maxWebmFilesize = 3145728;var check_for_block = 1; blockPlea = 'Please<a class="aplnk" href="//www.4chan.org/news?all#109" target="_blank">support 4chan</a> by disabling your ad blocker on *.4chan.org/*,<a class="aplnk" href="https://www.4chan.org/advertise?selfserve" target="_blank">purchasing a self-serve ad</a>, or<a class="aplnk" href="https://www.4chan.org/pass" target="_blank">buying a 4chan Pass</a>.';
    </script>
    <script type="text/javascript" data-cfasync="false" src="//s.4cdn.org/js/core.min.995.js"></script>
    <script type="text/javascript" data-cfasync="false" src="//s.4cdn.org/js/extension.min.1022.js"></script>
    <script type="text/javascript">initAds('nws', 'b');</script>
    <noscript><style type="text/css">#postForm{display:table!important;}#g-recaptcha{display:none;}</style></noscript>
  </head>
  <body class="board_b">
    <span id="id_css">
    </span>
    <div id="boardNavDesktop" class="desktop">
      <span class="boardList">[{{range $i, $e := .Boards}}{{if gt $i 0}} / {{end}}<a href="/4/{{$e.Board}}" title="{{$e.Title}}">{{$e.Board}}</a>{{end}}]</span>
      <span id="navtopright">[<a href="javascript:void(0);" id="settingsWindowLink">Settings</a>] [<a href="//www.4chan.org/" target="_top">Home</a>]</span>
    </div>
    <div id="boardNavMobile" class="mobile">
      <div class="boardSelect"><strong>Board</strong><select id="boardSelectMobile"></select></div>
      <div class="pageJump">
        <a href="#bottom">&#9660;</a>
        <a href="javascript:void(0);" id="settingsWindowLinkMobile">Settings</a>
        <a href="//www.4chan.org" target="_top">Home</a>
      </div>
    </div>
    <div class="boardBanner">
      <div id="bannerCnt" class="title desktop" data-src="153.png"></div>
      <div class="boardTitle">/{{.Board}}/ - Random</div>
      <div class="boardSubtitle">The stories and information posted here are artistic works of fiction and falsehood.
        <br>Only a fool would take anything posted here as fact.
      </div>
    </div>
    <div class="navLinks mobile">
      <span class="mobileib button"><a href="/{{.Chan}}/{{.Board}}/" accesskey="a">Return</a></span>
      <span class="mobileib button"><a href="#bottom">Bottom</a></span>
      <span class="mobileib button"><a href="#top_r" id="refresh_top">Refresh</a></span>
    </div>
    <div style='position:relative'>
    </div>
      <hr>
      <a href="#" class="button redButton mobile hidden" id="globalToggle">View Announcement</a>
      <div class="globalMessage hideMobile" id="globalMessage" data-utc="1446154760">You might like it.
        <a href="https://www.youtube.com/watch?v=vXr-2hwTk58" target=_blank>"The Internet's Own Boy: The Story of Aaron Swartz"
        </a>
      </div>
      <hr class="desktop" id="op">
      <div class="navLinks desktop">[<a href="/{{.Chan}}/{{.Board}}/" accesskey="a">Return</a>] [<a href="#bottom">Bottom</a>]</div>
      <hr>
      <form name="delform" id="delform" action="https://sys.4chan.org/{{.Board}}/imgboard.php" method="post">
        <div class="board">
          <div class="thread" id="t{{.No}}">
            {{range .Posts}}
              <div class="postContainer {{if .Op}}opContainer{{else}}replyContainer{{end}}" id="pc{{.No}}">
                <div class="sideArrows" id="sa{{.No}}">&gt;&gt;</div>
                <div id="p{{.No}}" class="post {{if .Op}}op{{else}}reply{{end}}">
                  <div class="postInfoM mobile" id="pim649287205">
                    <span class="nameBlock">
                      <span class="name">{{.Name}}</span><br>
                    </span>
                    <span class="dateTime postNum" data-utc="{{.Time}}">{{.Now}}<a href="#p{{.No}}" title="Link to this post">No.</a><a href="javascript:quote('{{.No}}');" title="Reply to this post">{{.No}}</a></span>
                  </div>
                  <div class="postInfo desktop" id="pi{{.No}}">
                    <input type="checkbox" name="{{.No}}" value="delete">
                    <span class="nameBlock"><span class="name">{{.Name}}</span></span>
                    <span class="dateTime" data-utc="{{.Time}}">{{.Now}}</span>
                    <span class="postNum desktop"><a href="#p{{.No}}" title="Link to this post">No.</a><a href="javascript:quote('{{.No}}');" title="Reply to this post">{{.No}}</a></span>
                  </div>
                  {{if .Filename}}
                  <div class="file" id="f{{.No}}">
                    <div class="fileText" id="fT649315347">File: <a href="/file/{{.Tim}}{{.Ext}}" target="_blank">{{.Filename}}{{.Ext}}</a> ({{.FSizePretty}}, {{.W}}x{{.H}})
                    </div>
                    <a class="fileThumb" href="/file/{{.Tim}}{{.Ext}}" target="_blank">
                      <img src="/file/{{.Tim}}{{.Ext}}" alt="{{.FSizePretty}}" data-md5="{{.Md5}}" style="height: {{.TnH}}px; width: {{.TnW}}px;">
                      <div data-tip="" data-tip-cb="mShowFull" class="mFileInfo mobile">{{.FSizePretty}} {{.Ext}}
                      </div>
                    </a>
                  </div>
                  {{end}}
                  <blockquote class="postMessage" id="m{{.No}}">{{.Com}}</blockquote>
                </div>
              </div>
            {{end}}
          </div>
          <hr>
          <div class="navLinks navLinksBot desktop">[
            <a href="/{{.Chan}}/{{.Board}}/" accesskey="a">Return
            </a>] [
            <a href="#top">Top
            </a>]
          </div>
          <hr class="desktop">
        </div>
        <div class="navLinks mobile">
          <span class="mobileib button">
            <a href="/{{.Chan}}/{{.Board}}/" accesskey="a">Return
            </a>
          </span>
          <span class="mobileib button">
            <a href="#top">Top
            </a>
          </span>
          <span class="mobileib button">
            <a href="#bottom_r" id="refresh_bottom">Refresh
            </a>
          </span>
        </div>
        <hr class="mobile">
        <div class="bottomad center ad-cnt">
          <div id="azk53379">
          </div>
        </div>
        <hr>
        <div class="bottomCtrl desktop">
          <span class="deleteform">
            <input type="hidden" name="mode" value="usrdel">Delete Post:
            <input type="hidden" name="res" value="649286684"> [
            <input type="checkbox" name="onlyimgdel" value="on">File Only]
            <input type="hidden" id="delPassword" name="pwd">
            <input type="submit" value="Delete">
            <input id="bottomReportBtn" type="button" value="Report">
          </span>
          <span class="stylechanger">Style:
            <select id="styleSelector">
              <option value="Yotsuba New">Yotsuba</option>
              <option value="Yotsuba B New">Yotsuba B</option>
              <option value="Futaba New">Futaba</option>
              <option value="Burichan New">Burichan</option>
              <option value="Tomorrow">Tomorrow</option>
              <option value="Photon">Photon</option>
            </select>
          </span>
        </div>
      </form>
      <div id="absbot" class="absBotText">
        <div class="mobile">
          <span id="disable-mobile">[<a href="javascript:disableMobile();">Disable Mobile View / Use Desktop Site</a>]<br><br></span>
          <span id="enable-mobile">[<a href="javascript:enableMobile();">Enable Mobile View / Use Mobile Site</a>]<br><br></span>
        </div>
        <span class="absBotDisclaimer">Donate: <b>WALLET</b></span>
        <div id="footer-links">&bull; <a href="//www.4chan.org/" target="_blank">Ephemeral 4Chan</a> &bull;</div>
      </div>
      <div id="bottom"></div>
    </body>
  </html>
{{end}}