{{define "thread"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noarchive">
    <meta name="description" content="Fuck americans, even arabs are superior compared to the dim witted waste of energy, gun porn loving,... - &quot;/b/ - Random&quot; is the birthplace of Anonymous, and where people go to discuss random topics and create memes on 4chan.">
    <meta name="keywords" content="imageboard,worksafe,anonymous,random,memes,Fuck,americans,even,arabs,superior,compared,witted,waste,energy,porn,loving">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="//s.4cdn.org/image/favicon.ico">
    <link rel="stylesheet" title="switch" href="//s.4cdn.org/css/yotsubanew.629.css">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/yotsubanew.629.css" title="Yotsuba New">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/yotsubluenew.629.css" title="Yotsuba B New">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/futabanew.629.css" title="Futaba New">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/burichannew.629.css" title="Burichan New">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/photon.629.css" title="Photon">
    <link rel="alternate stylesheet" style="text/css" href="//s.4cdn.org/css/tomorrow.629.css" title="Tomorrow">
    <link rel="stylesheet" href="//s.4cdn.org/css/yotsubamobile.629.css">
    <link rel="canonical" href="http://boards.4chan.org/b/thread/649286684/fuck-americans-even-arabs-are-superior-compared">
    <link rel="alternate" title="RSS feed" href="/b/index.rss" type="application/rss+xml">
    <title>/b/ - Fuck americans, even arabs are superior compared t - Random - 4chan
    </title>
    <script type="text/javascript">var  style_group = "nws_style",  cssVersion = 629,  jsVersion = 1012,  comlen = 2000,  maxFilesize = 4194304,  maxLines = 50,  file_too_big = "Error: Maximum file size allowed is 4096 KB.",  clickable_ids = 1,  cooldowns = {"thread":60,"reply":15,"image":15,"reply_intra":15,"image_intra":15};var unique_ips = 2;var maxWebmFilesize = 3145728;var check_for_block = 1; blockPlea = 'Please<a class="aplnk" href="//www.4chan.org/news?all#109" target="_blank">support 4chan</a> by disabling your ad blocker on *.4chan.org/*,<a class="aplnk" href="https://www.4chan.org/advertise?selfserve" target="_blank">purchasing a self-serve ad</a>, or<a class="aplnk" href="https://www.4chan.org/pass" target="_blank">buying a 4chan Pass</a>.';
    </script>
    <script type="text/javascript" data-cfasync="false" src="//s.4cdn.org/js/core.min.995.js">
    </script>
    <script type="text/javascript" data-cfasync="false" src="//s.4cdn.org/js/extension.min.1022.js">
    </script>
    <script type="text/javascript">initAds('nws', 'b');
    </script>
    <noscript>
    <style type="text/css">#postForm{display:table!important;}#g-recaptcha{display:none;}
    </style>
    </noscript>
  </head>
  <body class="board_b">
    <span id="id_css">
    </span>
    <div id="boardNavDesktop" class="desktop">
      <span class="boardList">[
        <a href="/a/" title="Anime & Manga">a
        </a> /
        <a href="/b/" title="Random">b
        </a> /
        <a href="/c/" title="Anime/Cute">c
        </a> /
        <a href="/d/" title="Hentai/Alternative">d
        </a> /
        <a href="/e/" title="Ecchi">e
        </a> /
        <a href="/f/" title="Flash">f
        </a> /
        <a href="/g/" title="Technology">g
        </a> /
        <a href="/gif/" title="Adult GIF">gif
        </a> /
        <a href="/h/" title="Hentai">h
        </a> /
        <a href="/hr/" title="High Resolution">hr
        </a> /
        <a href="/k/" title="Weapons">k
        </a> /
        <a href="/m/" title="Mecha">m
        </a> /
        <a href="/o/" title="Auto">o
        </a> /
        <a href="/p/" title="Photo">p
        </a> /
        <a href="/r/" title="Request">r
        </a> /
        <a href="/s/" title="Sexy Beautiful Women">s
        </a> /
        <a href="/t/" title="Torrents">t
        </a> /
        <a href="/u/" title="Yuri">u
        </a> /
        <a href="/v/" title="Video Games">v
        </a> /
        <a href="/vg/" title="Video Game Generals">vg
        </a> /
        <a href="/vr/" title="Retro Games">vr
        </a> /
        <a href="/w/" title="Anime/Wallpapers">w
        </a> /
        <a href="/wg/" title="Wallpapers/General">wg
        </a>] [
        <a href="/i/" title="Oekaki">i
        </a> /
        <a href="/ic/" title="Artwork/Critique">ic
        </a>] [
        <a href="/r9k/" title="ROBOT9001">r9k
        </a>] [
        <a href="/s4s/" title="Shit 4chan Says">s4s
        </a>] [
        <a href="/cm/" title="Cute/Male">cm
        </a> /
        <a href="/hm/" title="Handsome Men">hm
        </a> /
        <a href="/lgbt/" title="LGBT">lgbt
        </a> /
        <a href="/y/" title="Yaoi">y
        </a>] [
        <a href="/3/" title="3DCG">3
        </a> /
        <a href="/aco/" title="Adult Cartoons">aco
        </a> /
        <a href="/adv/" title="Advice">adv
        </a> /
        <a href="/an/" title="Animals & Nature">an
        </a> /
        <a href="/asp/" title="Alternative Sports">asp
        </a> /
        <a href="/biz/" title="Business & Finance">biz
        </a> /
        <a href="/cgl/" title="Cosplay & EGL">cgl
        </a> /
        <a href="/ck/" title="Food & Cooking">ck
        </a> /
        <a href="/co/" title="Comics & Cartoons">co
        </a> /
        <a href="/diy/" title="Do It Yourself">diy
        </a> /
        <a href="/fa/" title="Fashion">fa
        </a> /
        <a href="/fit/" title="Fitness">fit
        </a> /
        <a href="/gd/" title="Graphic Design">gd
        </a> /
        <a href="/hc/" title="Hardcore">hc
        </a> /
        <a href="/int/" title="International">int
        </a> /
        <a href="/jp/" title="Otaku Culture">jp
        </a> /
        <a href="/lit/" title="Literature">lit
        </a> /
        <a href="/mlp/" title="Pony">mlp
        </a> /
        <a href="/mu/" title="Music">mu
        </a> /
        <a href="/n/" title="Transportation">n
        </a> /
        <a href="/out/" title="Outdoors">out
        </a> /
        <a href="/po/" title="Papercraft & Origami">po
        </a> /
        <a href="/pol/" title="Politically Incorrect">pol
        </a> /
        <a href="/sci/" title="Science & Math">sci
        </a> /
        <a href="/soc/" title="Cams & Meetups">soc
        </a> /
        <a href="/sp/" title="Sports">sp
        </a> /
        <a href="/tg/" title="Traditional Games">tg
        </a> /
        <a href="/toy/" title="Toys">toy
        </a> /
        <a href="/trv/" title="Travel">trv
        </a> /
        <a href="/tv/" title="Television & Film">tv
        </a> /
        <a href="/vp/" title="Pok&eacute;mon">vp
        </a> /
        <a href="/wsg/" title="Worksafe GIF">wsg
        </a> /
        <a href="/x/" title="Paranormal">x
        </a>]
      </span>
      <span id="navtopright">[
        <a href="javascript:void(0);" id="settingsWindowLink">Settings
        </a>] [
        <a href="//www.4chan.org/" target="_top">Home
        </a>]
      </span>
    </div>
    <div id="boardNavMobile" class="mobile">
      <div class="boardSelect">
        <strong>Board
        </strong>
        <select id="boardSelectMobile">
        </select>
      </div>
      <div class="pageJump">
        <a href="#bottom">&#9660;
        </a>
        <a href="javascript:void(0);" id="settingsWindowLinkMobile">Settings
        </a>
        <a href="//www.4chan.org" target="_top">Home
        </a>
      </div>
    </div>
    <div class="boardBanner">
      <div id="bannerCnt" class="title desktop" data-src="153.png">
      </div>
      <div class="boardTitle">/b/ - Random
      </div>
      <div class="boardSubtitle">The stories and information posted here are artistic works of fiction and falsehood.
        <br>Only a fool would take anything posted here as fact.
      </div>
    </div>
    <div class="navLinks mobile">
      <span class="mobileib button">
        <a href="/4/b/" accesskey="a">Return
        </a>
      </span>
      <span class="mobileib button">
        <a href="#bottom">Bottom
        </a>
      </span>
      <span class="mobileib button">
        <a href="#top_r" id="refresh_top">Refresh
        </a>
      </span>
    </div>
    <div style='position:relative'>
    </div>
      <div class="middlead center ad-cnt">
        <div id="azk98887">
        </div>
      </div>
      <hr>
      <a href="#" class="button redButton mobile hidden" id="globalToggle">View Announcement
      </a>
      <div class="globalMessage hideMobile" id="globalMessage" data-utc="1446154760">You might like it.
        <a href="https://www.youtube.com/watch?v=vXr-2hwTk58" target=_blank>"The Internet's Own Boy: The Story of Aaron Swartz"
        </a>
      </div>
      <hr class="desktop" id="op">
      <div class="navLinks desktop">[
        <a href="/4/b/" accesskey="a">Return
        </a>] [
        <a href="#bottom">Bottom
        </a>]
      </div>
      <hr>
      <form name="delform" id="delform" action="https://sys.4chan.org/b/imgboard.php" method="post">
        <div class="board">
          <div class="thread" id="t{{.No}}">
            {{range .Posts}}
              <div class="postContainer {{if .Op}}opContainer{{else}}replyContainer{{end}}" id="pc{{.No}}">
                <div class="sideArrows" id="sa{{.No}}">&gt;&gt;</div>
                <div id="p{{.No}}" class="post {{if .Op}}op{{else}}reply{{end}}">
                  <div class="postInfoM mobile" id="pim649287205">
                    <span class="nameBlock">
                      <span class="name">{{.Name}}</span><br>
                    </span>
                    <span class="dateTime postNum" data-utc="{{.Time}}">{{.Now}}<a href="#p{{.No}}" title="Link to this post">No.</a><a href="javascript:quote('{{.No}}');" title="Reply to this post">{{.No}}</a></span>
                  </div>
                  <div class="postInfo desktop" id="pi{{.No}}">
                    <input type="checkbox" name="{{.No}}" value="delete">
                    <span class="nameBlock"><span class="name">{{.Name}}</span></span>
                    <span class="dateTime" data-utc="{{.Time}}">{{.Now}}</span>
                    <span class="postNum desktop"><a href="#p{{.No}}" title="Link to this post">No.</a><a href="javascript:quote('{{.No}}');" title="Reply to this post">{{.No}}</a></span>
                  </div>
                  {{if .Filename}}
                  <div class="file" id="f{{.No}}">
                    <div class="fileText" id="fT649315347">File: <a href="/file/{{.Tim}}{{.Ext}}" target="_blank">{{.Filename}}{{.Ext}}</a> ({{.FSizePretty}}, {{.W}}x{{.H}})
                    </div>
                    <a class="fileThumb" href="/file/{{.Tim}}{{.Ext}}" target="_blank">
                      <img src="/file/{{.Tim}}{{.Ext}}" alt="{{.FSizePretty}}" data-md5="{{.Md5}}" style="height: {{.TnH}}px; width: {{.TnW}}px;">
                      <div data-tip="" data-tip-cb="mShowFull" class="mFileInfo mobile">{{.FSizePretty}} {{.Ext}}
                      </div>
                    </a>
                  </div>
                  {{end}}
                  <blockquote class="postMessage" id="m{{.No}}">{{.Com}}</blockquote>
                </div>
              </div>
            {{end}}
          </div>
          <hr>
          <div class="navLinks navLinksBot desktop">[
            <a href="/4/b/" accesskey="a">Return
            </a>] [
            <a href="#top">Top
            </a>]
          </div>
          <hr class="desktop">
        </div>
        <div class="navLinks mobile">
          <span class="mobileib button">
            <a href="/4/b/" accesskey="a">Return
            </a>
          </span>
          <span class="mobileib button">
            <a href="#top">Top
            </a>
          </span>
          <span class="mobileib button">
            <a href="#bottom_r" id="refresh_bottom">Refresh
            </a>
          </span>
        </div>
        <hr class="mobile">
        <div class="bottomad center ad-cnt">
          <div id="azk53379">
          </div>
        </div>
        <div class="ad-plea ad-plea-bottom">[
          <a href="https://www.4chan.org/advertise?selfserve" target="_blank" title="4chan Self-Serve Ads">Advertise on 4chan
          </a>]
        </div>
        <hr>
        <div class="bottomCtrl desktop">
          <span class="deleteform">
            <input type="hidden" name="mode" value="usrdel">Delete Post:
            <input type="hidden" name="res" value="649286684"> [
            <input type="checkbox" name="onlyimgdel" value="on">File Only]
            <input type="hidden" id="delPassword" name="pwd">
            <input type="submit" value="Delete">
            <input id="bottomReportBtn" type="button" value="Report">
          </span>
          <span class="stylechanger">Style:
            <select id="styleSelector">
              <option value="Yotsuba New">Yotsuba
              </option>
              <option value="Yotsuba B New">Yotsuba B
              </option>
              <option value="Futaba New">Futaba
              </option>
              <option value="Burichan New">Burichan
              </option>
              <option value="Tomorrow">Tomorrow
              </option>
              <option value="Photon">Photon
              </option>
            </select>
          </span>
        </div>
      </form>
      <div id="absbot" class="absBotText">
        <div class="mobile">
          <span id="disable-mobile">[
            <a href="javascript:disableMobile();">Disable Mobile View / Use Desktop Site
            </a>]
            <br>
            <br>
          </span>
          <span id="enable-mobile">[
            <a href="javascript:enableMobile();">Enable Mobile View / Use Mobile Site
            </a>]
            <br>
            <br>
          </span>
        </div>
        <span class="absBotDisclaimer">Donate: <b>WALLET</b>
        </span>
        <div id="footer-links">&bull; <a href="//www.4chan.org/" target="_blank">The Real (Ephemeral) 4Chan</a> &bull;</div>
      </div>
      <div id="bottom">
      </div>
    </body>
  </html>
{{end}}