description "chan archiver api node"

start on started cassandra
stop on stopped cassandra

exec streamingchan -api \
  -bindip="127.0.0.1" \
  -clustername="streamingchan" \
  -etcd="http://127.0.0.1:2379" \
  -httpport=4000 \
  -tw=64